<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Quiz</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new-quiz.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<script>
  function addAnswer(x) {
    let queNum = x.previousElementSibling.previousElementSibling.previousElementSibling.name;
    console.log(queNum)
    let lastAns = x.parentNode.childElementCount;
    if (lastAns == 20) {
      alert('Max choice (6) for a question reached')
    } else {
      //add new field to answer
      let answerField = document.createElement("input");
      answerField.setAttribute("type", "text");
      answerField.setAttribute("name", queNum);
      answerField.required = true;
      let spacer = document.createElement("br");
      let p = document.createElement("p");
      x.parentNode.insertBefore(answerField, x.parentNode.lastElementChild.previousElementSibling)
      x.parentNode.insertBefore(spacer, x.parentNode.lastElementChild.previousElementSibling)
      x.parentNode.insertBefore(p, x.parentNode.lastElementChild.previousElementSibling)
      //add new selector beside answer
      let answerisTrue = document.createElement("input");
      answerisTrue.setAttribute("type", "radio");
      answerisTrue.setAttribute("name", queNum);
      answerisTrue.setAttribute("value", (((Number(lastAns) - 2) / 3) + 1));
      let answerLabel = document.createElement("label");
      answerLabel.setAttribute('for', "");
      answerLabel.setAttribute('style', "padding-left: 5px; margin-bottom: 6px");
      answerLabel.innerHTML = " " + (((Number(lastAns) - 2) / 3) + 1);
      let spacer2 = document.createElement("br");
      let p2 = document.createElement("p");
      x.parentNode.nextElementSibling.appendChild(answerisTrue);
      x.parentNode.nextElementSibling.appendChild(answerLabel);
      x.parentNode.nextElementSibling.appendChild(spacer2);
      x.parentNode.nextElementSibling.appendChild(p2);
    }
  }
  function removeAns(x) {
    let lastAns = x.parentNode.childElementCount;
    if (((Number(lastAns) - 2) / 3) == 2) {
      alert('Min choice (2) for a question reached')
    } else {
      let ansField;
      let ansSelect = x.parentNode.nextElementSibling.lastElementChild;
      x.parentNode.nextElementSibling.removeChild(ansSelect);
      for (let i = 0; i < 3; i++) {
        ansField = x.parentNode.lastElementChild.previousElementSibling.previousElementSibling;
        ansSelect = x.parentNode.nextElementSibling.lastElementChild;
        x.parentNode.nextElementSibling.removeChild(ansSelect);
        x.parentNode.removeChild(ansField);
      }
    }
  }
  function addQuestion(x) {
    let questionAmount = document.getElementById("question_counter").innerHTML;
    if (questionAmount == 10) {
      alert('The max amount of question allow is 10')
    } else {
      questionAmount++;
      //question section
      let queTd = document.createElement("td");
      queTd.setAttribute("style", "word-wrap:break-word; width: 60%")
      //question input
      let queNum = document.createElement("label");
      queNum.setAttribute("for", "");
      queNum.innerHTML = "Q" + questionAmount + ':';
      let spa = document.createElement("br");
      let queIn = document.createElement("textarea");
      queIn.setAttribute("type", "text");
      queIn.setAttribute("name", "q" + questionAmount); // rememeber to put this after qa++
      queIn.setAttribute("maxlength", "85");
      queIn.setAttribute("style", "width: 100%; resize: none;");
      queIn.required = true;
      //combine
      queTd.appendChild(queNum);
      queTd.appendChild(spa);
      queTd.appendChild(queIn); //queTd completed
      //Answer section
      let ansTd = document.createElement("td");
      ansTd.setAttribute("style", "width: 30%; white-space:nowrap;")
      //Answer input
      let ansIn = document.createElement("input");
      ansIn.setAttribute("type", "text");
      ansIn.setAttribute("name", "q" + questionAmount); // as mention before, after qa++
      ansIn.required = true;
      let spacer = document.createElement("br");
      let p1 = document.createElement("p");
      let ansIn2 = document.createElement("input");
      ansIn2.setAttribute("type", "text");
      ansIn2.setAttribute("name", "q" + questionAmount); // as mention before, after qa++
      ansIn2.required = true;
      let spacer2 = document.createElement("br");
      let p2 = document.createElement("p");
      //Construct button
      let addbtn = document.createElement("button");
      addbtn.setAttribute('class', 'btn btn-outline-success');
      addbtn.setAttribute('type', "button");
      addbtn.setAttribute('onclick', "addAnswer(this)");
      addbtn.innerHTML = "More";
      let rmbtn = document.createElement("button");
      rmbtn.setAttribute('class', 'btn btn-outline-danger');
      rmbtn.setAttribute('type', "button");
      rmbtn.setAttribute('onclick', "removeAns(this)");
      rmbtn.innerHTML = "Less";
      //construct td of answer
      ansTd.appendChild(ansIn)
      ansTd.appendChild(spacer)
      ansTd.appendChild(p1)
      ansTd.appendChild(ansIn2)
      ansTd.appendChild(spacer2)
      ansTd.appendChild(p2)
      ansTd.appendChild(addbtn)
      ansTd.appendChild(rmbtn) // compelet ansTd
      //construct selection area
      let selTd = document.createElement("td");
      selTd.setAttribute("style", "width: 10%;")
      //construct select radio
      let selIn = document.createElement("input");
      selIn.setAttribute("type", "radio");
      selIn.setAttribute("name", "q" + questionAmount);
      selIn.setAttribute("value", '1');
      selIn.setAttribute('checked', "checked");
      let selLa = document.createElement("label");
      selLa.setAttribute('for', "");
      selLa.setAttribute('style', "padding-left: 5px;");
      selLa.innerHTML = " " + 1;
      let spacer3 = document.createElement("br");
      let p3 = document.createElement("p");
      let selIn2 = document.createElement("input");
      selIn2.setAttribute("type", "radio");
      selIn2.setAttribute("name", "q" + questionAmount);
      selIn2.setAttribute("value", '2');
      let selLa2 = document.createElement("label");
      selLa2.setAttribute('for', "");
      selLa2.setAttribute('style', "padding-left: 5px;");
      selLa2.innerHTML = " " + 2;
      let spacer4 = document.createElement("br");
      let p4 = document.createElement("p");
      //start construct of selTd
      selTd.appendChild(selIn)
      selTd.appendChild(selLa)
      selTd.appendChild(spacer3)
      selTd.appendChild(p3)
      selTd.appendChild(selIn2)
      selTd.appendChild(selLa2)
      selTd.appendChild(spacer4)
      selTd.appendChild(p4) //complete construct of selTd
      //Oh yeah, it's all coming together ðŸ˜
      let tr = document.createElement("tr");
      tr.appendChild(queTd)
      tr.appendChild(ansTd)
      tr.appendChild(selTd)
      // the below statment is where I will add the tr I constructed
      x.previousElementSibling.lastElementChild.appendChild(tr)
      document.getElementById("question_counter").innerHTML = questionAmount;
    }
  }
  function rmQuestion(x) {
    let questionAmount = document.getElementById("question_counter").innerHTML;
    if (questionAmount == 1) {
      alert('The min amount of question allow is 1')
    } else {
      let lasQue = x.previousElementSibling.previousElementSibling.previousElementSibling.lastElementChild.lastElementChild;
      questionAmount--;
      x.previousElementSibling.previousElementSibling.previousElementSibling.lastElementChild.removeChild(lasQue);
      document.getElementById("question_counter").innerHTML = questionAmount;
    }
  }
</script>

<body style='background-color:  #EEE'>
  <%- include('partials/_header') %>
    <main class="new-quiz-page">
      <h2>New Quiz</h2>
      <form action="/quizzes/" method="POST">
        <div class="new-quiz-details">
          <div>
            <label for="">Title :</label>
            <input type="text" name="title" maxlength="30" required>
            <label for="">Category:</label>
            <input type="text" name="category" maxlength="20" required>
          </div>

        <label for="">Description :</label>
        <input type="text" name="description" maxlength="140" required>
        <label for="">Photo URL:</label>
        <input type="text" name="photo_url" maxlength="200" required>

        <div>
          <label for="">Hide Quiz from Public:</label>
          <input style="margin-left: 1em" type="checkbox" name="visibility" value="false"><br>
        </div>
        </div>
        <table class="table table-striped user-quiz-questions">
          <thead class=".table-striped">
            <tr class="columnOfNewQues">
              <th class="Question">Question : </th>
              <th style="width: 30%; ">Answer : </th>
              <th style="width: 15%; ">Select Answer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 60%">
                <!--question field of q1 -->
                <label for="">Q1: </label>
                <br>
                <textarea type="text" name="q1" maxlength="80" style="width: 100%; resize: none;"
                  required></textarea><br>
              </td>
              <td style="width: 30%; white-space:nowrap;">
                <input type="text" name="q1" required> <br>
                <!--answer field of q1 -->
                <p></p>
                <input type="text" name="q1" required><br>
                <p></p>
                <button class="btn btn-outline-success" type="button" onclick="addAnswer(this)">More</button>
                <button class="btn btn-outline-danger" type="button" onclick="removeAns(this)">Less</button>
              </td>
              <td style="width: 10%;">
                <input type="radio" name="q1" value='1' checked="checked" required>
                <label style="margin-bottom: 6px" for="">1</label><br>
                <p></p>
                <input type="radio" name="q1" value='2'>
                <label style="margin-bottom: 6px" for="">2</label><br>
                <p></p>
              </td>
            </tr>
          </tbody>
        </table>

        <button style="border: none;" id="more-question" class="btn btn-outline-success" type="button" onclick="addQuestion(this)">add more
          question</button><br>
        <button style="border: none;"class="btn btn-outline-danger" type="button" onclick="rmQuestion(this)">remove question</button><br>
        <button  style="border: none;" class="btn btn-outline-primary" type="submit">submit</button>

      </form>
      <p id="question_counter" style="visibility: hidden;"> 1 </p>

      <!-- Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    </main>
</body>

</html>